{% csrf_token %}
<label>Title:</label><br/>
{% if errors.title %}
    <input class="border border-danger border-3" type="text" value="{{ article.title }}" name="title"/><br/>
    <p class="text-danger">{{ errors.title }}</p>
    {% else %}
    <input type="text" value="{{ article.title }}" name="title"/><br/>
{% endif %}

<label>Text:</label><br/>
{% if errors.content %}   
    <textarea class="border border-danger border-3" name="content" >{{ article.content }}</textarea><br/>
    <p class="text-danger">{{ errors.content }}</p>
    {% else %}   
    <textarea name="content">{{ article.content }}</textarea><br/>
{% endif %}

<label>Author:</label><br/>
{% if errors.author %}
    <input class="border border-danger border-3" type="text" value="{{ article.author }}" name="author"/><br/>
    <p class="text-danger">{{ errors.author }}</p>
    {% else %}     
    <input class="border border-danger border-3" type="text" value="{{ article.author }}" name="author"/><br/>
{% endif %}
<br/>
<input type="submit" value="{{button_text}}"/>